.mother {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.children {
  background-color: yellowgreen;
  width: 100px;
  height: 100px;
}
